# Jekyll build artifacts
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/

# System files
.DS_Store
Thumbs.db

# Logs & temp files
*.log
*.tmp
*.swp

# Editor configs (optional)
.vscode/
.idea/

